<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.settingsprovider.overlay.common"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="com.android.providers.settings" android:priority="0" android:isStatic="true" />

    <application android:label="SettingsProviderOverlayCommon" android:hasCode="false"/>
</manifest>
